/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 40rem;
  font-size: 2em;
  text-align: center;
  line-height: 40rem;
  overflow: hidden;
}

.content h2 {
  color: var(--primaryColor);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 150%;
  background: var(--secondaryColor);
  animation: animate1 2s linear infinite;
}

.content::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 150%;
  background: var(--tertiaryColor);
  animation: animate2 1s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateY(100%);
    left: 100%;
  }

  100% {
    transform: translateY(-100%);
    left: -50%;
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(100%);
    left: -50%;
  }

  100% {
    transform: translateY(-100%);
    left: 100%;
  }
}